[submodule "third_party/requests-futures"]
	path = third_party/requests-futures
	url = git@github.com:ross/requests-futures.git
[submodule "third_party/requests"]
	path = third_party/requests
	url = git@github.com:kennethreitz/requests.git
[submodule "third_party/ycmd"]
	path = third_party/ycmd
	url = git@github.com:Valloric/ycmd.git
